*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #333;
}

#game-board{
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 20vmin);
	grid-template-rows: repeat(4, 20vmin);
	gap: 2vmin;
	border-radius: 1vmin;
}